/* write your override styles here */
///Tag-1//
#wall .tag-1{
    display: none;
}
//Tag-2//
div#wall #tag-2{
display: none;
}
//Tag-3//
div#wall #tag-3.slick.wicked {
    display: none;
}
// parent 1//
.parent {
    display: none;
}
//parent 2//
div .parent {
display: none;
}
//parent 3//
.parent {
    display: none;
}
//parent 4//
.parent {
    display: none;
}